.header-archives{
	padding-bottom: 3em;
}


.archive-itw-el{
	padding: 0.5em 0;
	list-style-type: none;
	
	a{
		display: block;
		text-align: center;
		font-size: 2em;
		padding-bottom: 0.75em;
	}
	
	@include threePointSonHover($linkColor: $gray, $backgroundColor: transparent, $backgroundColorHover: transparent, $backgroundColorActive: transparent, $linkActiveColor: $grayDark, $textShadowDistance: 1em, $pointSize: 1.2em, $timing: 0.3s, $top: 33%);
}

@media #{$small}{
	.archive-itw-el a{
		font-size: 2.5em;
	}
}
@media #{$topbar-media-query} {
	.archive-itw-el a{
		font-size: 3em;
	}
	.archive-list{
		margin-bottom: 4em;
	}
}
@media #{$medium}{
	.archive-itw-el a{
		font-size: 4em;
	}
}
@media #{$large}{
	.archive-itw-el a{
		font-size: 5em;
	}
}