.banner{
	@extend .row;
	width: 100%;
	position: relative;
	display: block;
	background: $banner-background-color;
}

.main .banner{
	margin: -($topbar-height) 0 0 0;	
}

.portrait{
	width: 100%;
	margin: 0;
	img{
		width: 100%;
	}
}

.banner-content{
	width: 100%;
	position: relative;
	text-align: center;
	@extend .clearfix;
}	

@media #{$small}{
	
}
@media #{$topbar-media-query} {
	.main .banner{
		margin-top: -($large-topbar-height);
		margin-top: -($medium-topbar-height);
	}
}
@media #{$medium}{
}
@media #{$large}{	
	.main .banner{
		margin-top: -($large-topbar-height);
	}
}

