
/*==========  fonts  ==========*/
// fonts imported via @font-face from fonts.com
// refer to lib/enqueue-sass.php for source

// font-family:'Recta W01 Light';
// font-family:'Recta W01 Bold';
// font-family:'ITC Century W01 Book';

$sansFontFamily:        "Recta W01 Bold", Helvetica Neue, Helvetica, Arial, sans-serif !default;
$sansFontFamilyLight:   "Recta W01 Light", Helvetica Neue, Helvetica, Arial, sans-serif !default;
$serifFontFamily:       "ITC Century W01 Book", Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

/**
*
* color variables from bootstrap
*
**/

// Grays
// -------------------------
$black:                 #2D2D2D !default;
$grayDarker:            #323232 !default;
$grayDark:            	#4d4d4d !default;
$gray:                  #A0A0A0 !default;
$grayLight:             lighten($gray, 10%) !default;
$grayLighter:           rgb(215, 215, 215) !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #2980B9 !default;
$blueDark:              #34495E !default;
$green:                 lighten(#c7d352, 10%) !default;
$red: 									#c91616;
$orange:                #ca4f3b  !default;
$yellow:                #ffc40d !default;
$pink:                  #C80050 !default;
$purple:                #39398D !default;

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;

/*==========  components  ==========*/

$highlightColor: $blue;

// banner
$banner-background-color: none;
$banner-font-color: $white;

// microformats
$microformat-font-color: $gray;


/*==========  IMAGES  ==========*/

@import "svg"; //dedicated file used for svg like logo and avatar

$image_folder: "../img/";

$logo-fallback: url($image_folder + "branding/logo-lsp.png");
$logo: $logo-svg;


$avatar: none;
$avatar-fallback: none;
$avatar-fallback-no-backgroundSize: none;

$map: none;
$bootstrap: none;

$loader: url($image_folder + "map/loader.gif");

// $plusCross is used to show that additional content is available
$plusCross: $plusCross-svg;
$plusCross-fallback: url($image_folder + "components/plus-cross.png");

/*==========  layout  ==========*/
$topbar-height: 40px !default;
$medium-topbar-height: 80px !default;
$large-topbar-height: 100px !default;


/*==========  logo sizes  ==========*/
$logo-topbar-height: 30px !default;
$logo-medium-height: 45px !default;
$logo-large-height: 55px !default;

/*==========  logo padding  ==========*/
$logo-topbar-padding: ($topbar-height - $logo-topbar-height)/1.75; 
$logo-medium-padding: ($medium-topbar-height - $logo-medium-height)/1.75; 
$logo-large-padding:  ($large-topbar-height - $logo-large-height)/1.75; 

$ratio: 0.26715;

$logo-topbar-width: $logo-topbar-height / $ratio !default;
$logo-medium-width: $logo-medium-height / $ratio !default;
$logo-large-width: $logo-large-height / $ratio !default;