.contact-list-footer {
	[class*="micon-"]:before {
		margin-right: 0.4em;		
		display: inline-block;
		text-align: center;
		width: 1em;
	}
	.micon-facebook:before {
		margin-right: 0.1em;
	}
}	

.no-touch .phone-link{
	cursor: text;
	border-bottom: none;
	color: inherit;
	&:hover{
		color: inherit;
	}
}

// /*==========  site colophon with copy/credits and legal  ==========*/

.site-footer{
	background-color: $black;
	color: $grayLight;
	padding: 2em 0;
	line-height: 1.25em;
	font-size: 0.8em;
	text-align: center;
	a{
		color: $grayLight;
		&:hover{
			border-bottom-color: $grayLight;
		}
	}
}

.copy_and_credits{
	font-family: $sansFontFamilyLight;
}