.hide-text{
	text-indent: -9999px;
}

.small-hidden{
  display: none;
  @media #{$small} {
    display: block;
  }
}

.micon-alone {
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.unstyled {
  list-style-type: none;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

