.hide-text{
	text-indent: -9999px;
}

.small-hidden{
  display: none;
  @media #{$small} {
    display: block;
  }
}

.icon-alone {
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.unstyled {
  list-style-type: none;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


.grayscale{
  /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1);  
  @include transition(all 0.5s ease-in-out);
  /* this is for Firefox 3.5+, Firefox mobile */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");

  /* for IE6+ */
  filter: gray;

  // &:hover{
  // /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
  // -webkit-filter: grayscale(0);
  // -moz-filter: grayscale(0);
  // -ms-filter: grayscale(0);
  // -o-filter: grayscale(0);
  // filter: grayscale(0);
  // /* this is for Firefox 3.5+, Firefox mobile */
  // filter: none;

  // }
}
