.container {
	padding-top: $topbar-height; //we need a padding to account for the fixed header
}

.main{
	padding: 0;
	@extend .row;
}

.main-home{
	// padding: 0;
}

.li-block-header{
	padding-top: 2em;
}

.inside-wrapper{
	@extend .clearfix;
	width: 100%;
	max-width: $large-screen;
	margin: 0 auto;
	padding: 0 0.5em;
}

.main-content{
	@extend .row;
}

.content{
	@extend .clearfix;
	@extend .inside-wrapper;
}

aside.side-info {
	padding-top: 2em;
}	


.small-4{
	&:nth-child(3n+1){
		clear: left;
	}
}

._1-4-columns{
	@extend .columns;
	width: 100%;
	margin-bottom: 2em;
}

.prev-next-link{
	width:100%;
}

@media screen and (min-width: 600px){
	._1-4-columns{
		width: 50%;
		position: relative;
	
		&:nth-child(odd){
			clear: left;
		}
	}
	.prev-next-link{
		width: 49.5%;		
	}
	.newer{
		float: right;
	}
}

@media #{$small} {
	aside.side-info {
		padding-left: 3em;
	}
	.small-4{
		&:nth-child(3n+1){
			clear: none;
		}
	}	
}

@media #{$topbar-media-query} {
	.container {
		padding-top: $medium-topbar-height;
	}
	.sidebar{
		padding-top: $medium-topbar-height/3;
	}
	._1-4-columns{
		width: 33.333%;
		float: left;
		&:nth-child(odd){
			clear: none;
		}
	}

	.nav-entry{
		position: fixed;
		top: 45%;
		width: 100%;
	}
	.prev-next-link{
		width: auto;
		position: absolute;
	}
	.newer{
		right: 0;			
	}	

	.portrait{
		margin-top: -($medium-topbar-height);
	}
}

@media #{$medium} {
	._1-4-columns{
		width: 25%;
	}
}
@media #{$large} {
	.container {
		padding-top: $large-topbar-height;
	}
	.sidebar{
		padding-top: $large-topbar-height/3;
	}
	.portrait{
		margin-top: -($large-topbar-height);
	}	
}