/**
*
* Style the menu in the footer (default) as seen on Luke W blog : http://lukew.com/
* For menu in header, as in larger media queries and oldie browsers see main-menu-mq
*
**/

.main-menu {
	.main-menu-column{
		padding: 0;
	}
	ul{
		margin: 0;
	}
}

.menu-item-main-menu {
	border-top: solid 1px $grayLight;
	&:last-child{
		border-bottom: solid 1px $grayLight;
		a{
			margin-bottom: 0;
		}
	}
}

.menu-item-main-menu  a,
.navtoplink{
	display: block;
	padding: 1em 0.8em;
	border-left: solid 0.5em $gray;
	color: $gray;
	font-family: $sansFontFamilyLight;
	text-transform: uppercase;
}

.navtoplink{
	&:before{
	  display: block; 
	  content: " "; 
	  margin-top: 0; 
	  height: $topbar-height; 
	  visibility: hidden; 		
	}
}

.menu-item-main-menu {
	a {
		&:hover,
		&:focus{
			background-color: $highlightColor;
			color: $white;
			border-left-color: $highlightColor;		
		}		
	}
	&.active a{
		color: $highlightColor;
		border-left-color: $highlightColor;
		cusor: text;
		&:hover,
		&:focus{
			background-color: rgba($highlightColor, 0.3);
			color: $white;
		}
	}
}

.navtop {
	border: none;
}

.navtoplink {
	@include clearfix;
	position: relative;
	border: none;
	text-align: right;
	text-transform: uppercase;
	font-size: 1.2em;

	span{
		padding-right: emCalc(4);
	}

	span:after{
		@include css-triangle(emCalc(12), $gray, bottom);
		@include transition(all 0.3s ease-in-out);
		float: right;
		margin-top: emCalc(-4);
	}
	&:hover {
		color: $highlightColor;
		span:after {
			@include css-triangle(emCalc(12), $highlightColor, bottom);
			@include transition(all 0.3s ease-in-out);
		}
	}
}


