//module social-sharer

.sharer-block-container {
	@include clearfix();
	position: fixed;
	top: $topbar-height;
	left: 0;
}
.sharer-block-container.active{
	padding-bottom: 0.5em;
	background: $white;
}

.icon-display-sharer-wrapper {	
	display: block;
	width: $topbar-height;
	height: $topbar-height;
	background: $anchor-font-color;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	@extend .micon-share;
	
	&:before {
		display: block;
		width: $topbar-height - 5px;
		height: $topbar-height;
		position: absolute;
		top: 0;
		font-size: 1.7em;
		line-height: $topbar-height;
		text-align: center;
    speak: none;
		color: $white;
	}

	&:hover{
		background: $anchor-font-color-hover;
	}
}

.social-list{
	margin-bottom: 0;
}

.social-link{
	display: block;
	width: $topbar-height;
	height: $topbar-height;
	margin-top: 0.5em;
	border: 1px solid $white;
	text-decoration: none;
	text-align: center;
	font-size: 1.25em;
	line-height: $topbar-height;
	color: $white;
	background-color: $gray;
	border-radius: 200px;
	overflow: hidden;

	&.disabled{
		background-color: $grayLight;
		color: $grayLighter !important;
	}

	i:before{
		display: block;
		width: $topbar-height;
		height: $topbar-height;
		padding: 0.35em 0 0;
	}
}