.top-bar .name{
  padding: $logo-topbar-padding 0 0 $logo-topbar-padding;
}

@media #{$topbar-media-query}{
	.top-bar .name{
		height: $medium-topbar-height;
  	padding: $logo-medium-padding 0 0 $logo-medium-padding;
		
	}
}
@media #{$large}{
	.top-bar .name{
		height: $large-topbar-height;
  	padding: $logo-large-padding 0 0 $logo-large-padding;
	}
}
