// paragraphs
.leader{
  font-size: em-calc(18);
}

@media #{$small} {  
  p {
    font-size: 1.25em;
  }
  .leader{ 
    font-size: $h3-font-size;
  }
}
.oldie .leader{
  max-width: 900px;
}


// links
a{
  @include transition(all 0.3s ease-in-out);
}

.navlist a{
  text-decoration: none;
}

p,
.about-links-ul{
  a{
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    &:hover{
      border-bottom-width: 0.2em;
      border-color: $anchor-font-color-hover;
    }
  }  
}

.contact-us-list a,
.archive-link {
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.touch {
  p a,
  li a,
  .about-links-ul {
    line-height: 2em; //enlarge link height to enable big finger targeting
  }
}

.no-touch .tel{
  cursor: default;
}

.banner,
.banner-title{
  color: $banner-font-color ;
}



// lists
.contact-us-list,
.navlist,
.navlist ul,
.creation-diapo-list{
	list-style-type: none;
}

.contact-us-list {
  a,
  span{
    display: inline-block;
  }
}

.li-block ul{
}

.li-title{
  border-bottom: 0.075em solid $highlightColor;
}

.li-el-title{
  padding-top: 1em;
  border-bottom: 1px solid $grayLight;
}


// microformats
.vcard {
  width: 100%;
  color: $microformat-font-color;
  // border: none;
}
.contact_title{
  margin-bottom: 0.5em;
}

// icons
i{
  font-style: normal;
}


// figcaption
// realisation infos
.caption-t,
.caption-subt,
.caption-meta{
  margin: 0;
}
.caption-meta{
  font-family: $sansFontFamily;
  font-size: 1em;
}

/*=======================================
=            Interview Types            =
=======================================*/

.entry-title,
.about-t {
  font-family: $sansFontFamilyLight;
}

.about-t,
.itw-t {
  text-transform: uppercase;
}

.about-p{
  font-size: 1em;
}

.about-links-ul{
  list-style-position: inside;
  list-style-type: square;
  li {
    color: $anchor-font-color;
    @include transition(all 0.3s ease-in-out);

    &:hover{
      color: $anchor-font-color-hover;
    }
  }

  a{
    // text-decoration: none;
    // border-bottom: dotted 1px $anchor-font-color-hover;
    // @include transition(all 0.3s ease-in-out);
    // &:hover{
    // }
  }
}

.question{  
  font-style: italic;
  font-weight: bold;
}

.date{
  @extend small;
  font-style: italic;
  color: $gray;  
}



/*-----  End of Interview Types  ------*/
